[Desktop Entry]
Encoding=UTF-8
Name=SDL Lopan
Comment=Mahjong solitaire
Exec=lopan
Icon=sdllopan
Terminal=false
Type=Application
Categories=Game;BoardGame;
