[Desktop Entry]
Name=IceBroLite
Exec=IceBroLite
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=IceBroLite
Categories=Development;Debugger;
